<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="TestConfig" status="WARN" packages="core.appender.signature, example">
    <Appenders>
        <SignatureAppender name="signatureAppender"
                           secretKeyProvider="example.SecretKeyProviderExample"
                           signStrategy="example.SignStrategyExample"
        >

            <Console name="console">
                <PatternLayout pattern="[%sign] %m%n"/>
            </Console>
        </SignatureAppender>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="signatureAppender"/>
        </Root>
    </Loggers>
</Configuration>
